@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    outline:none;
    box-sizing: border-box;
}
body{
    background: url("table.jpg") no-repeat top center;
    width:100%;
    height: 100vh;
    background-size: cover;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    position: absolute;
    top: -30%;
    left: 50%;
    transform:translate(-50%,50%);
}
.contact-us{
    width: 100%;
    max-width: 500px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    padding:40px 50px;
    border-radius:5px;
}
.title{
    font-size: 2em;
    line-height: 1.25em;
    text-align:center;
    text-transform: uppercase;
    font-weight:900;
    letter-spacing:2px;
    color:#ffc107;
    padding-bottom:15px;
}
.input-fields{
    padding: 0 30px;
}
.input-fields .items{
    width:100%;
    padding-bottom:15px;
}
.input-fields .items .label{
    display:block;
    font-size:1em;
    color:#ffecb3;
    text-transform: capitalize;
    padding-bottom:5px;
}
.input-fields .items .input,
.input-fields .items .text-area{
    background:transparent;
    border:0;
    border:1px solid #ffecb3;
    width:100%;
    padding:8px 10px;
    font-size:1em;
    color:#ffecb3;
    border-radius:3px;
}
.btn{
    margin:0 30px;
    background:#ffc107;
    color:#fff2b2;
    font-size:1.25em;
    padding:10px 0;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    border-radius:5px;
    cursor:pointer;
    letter-spacing:2px;
}
.items #msg{
    height:100px;
}








header{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.clearfix:after{
    content:".";
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;

}

 .row{
    max-width: 1180px;
    margin: 0 auto;

}

 .logo{
    height: 150px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    margin-top: 60px;

}

.main-nav li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

.main-nav li a{
    padding: 5px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size:90%;
    font-weight: 100;

}
.main-nav li a:hover{
    border-bottom: 2px solid #bf55ec;
}

.main-nav li.active{
    border-bottom: 2px solid #bf55ec;
}

.icon li:hover
{
    background-color: #000000;
}

.main-content{
    width: 1180px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}